[submodule "externals/lz4"]
	path = external/lz4
	url = https://github.com/lz4/lz4
[submodule "externals/zlib"]
	path = external/zlib
	url = https://github.com/madler/zlib
[submodule "externals/zstd"]
	path = external/zstd
	url = https://github.com/facebook/zstd
