[submodule "externals/lz4"]
	path = externals/lz4
	url = https://github.com/lz4/lz4
[submodule "externals/zlib"]
	path = externals/zlib
	url = https://github.com/madler/zlib
[submodule "externals/zstd"]
	path = externals/zstd
	url = https://github.com/facebook/zstd
